%h1 Редактирование пользователя
.pull-right
  =link_to @user, class: 'btn btn-danger', data: {method: :delete, confirm: 'Вы уверены?'} do
    %span.glyphicon.glyphicon-trash
    Удалить
.clearfix    
= render 'form'
