%nav.navbar.navbar-fixed-top.navbar-inverse
  .container
    .navbar-header
      .navbar-brand Блоги
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li=link_to 'Пользователи', users_path
